@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("assets/asset/fonts/iransans/IRANSansMobile\(FaNum\).ttf")
    format("woff2");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("assets/asset/fonts/iransans/IRANSansMobile\(FaNum\)_Medium.ttf")
    format("woff2");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  src: url("assets/asset/fonts/iransans/IRANSansMobile\(FaNum\)_Bold.ttf")
    format("woff2");
}
* {
  box-sizing: border-box !important;
}
body {
  margin: 0 !important;
  box-sizing: border-box !important;
  font-family: IRANSans, Roboto, Arial !important;
  font-weight: 300;
}
#splash-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 15%;
}
#logo-container {
  width: fit-content !important;
}
#splash-h2 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}
#loader-container {
  text-align: center;
  position: absolute;
  top: 71%;
  right: 0;
  left: 0;
}
#loader-gif {
  width: 7%;
  max-width: 35px;
}
#footer {
  position: fixed;
  bottom: 24px;
  right: 0;
  left: 0;
  text-align: center;
}
#inner-container {
  width: fit-content;
  margin: auto;
}
#footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo1 {
  width: 45%;
  background-repeat: no-repeat;
  height: 2.7rem;
  background-size: contain;
}
#logo2 {
  width: 45%;
  background-repeat: no-repeat;
  height: 2.7rem;
  background-size: contain;
  background-position: right;
}
#footer-text {
  font-size: 0.6rem;
}
#footer-title {
  padding: 6px 0;
}
@media (prefers-color-scheme: dark) {
  #splash-div {
    background-color: #000000;
  }

  #splash-h2 {
    color: #f3f3f3 !important;
  }
  #logo1 {
    background-image: url("assets/asset/images/logos/centerbank_dark.svg");
  }
  #logo2 {
    background-image: url("assets/asset/images/logos/shaparak_logo_dark.svg");
  }
  #footer-text {
    color: #f3f3f3 !important;
  }
}

@media (prefers-color-scheme: light) {
  #splash-div {
    background-color: #f9fafa;
  }

  #splash-h2 {
    color: #334048 !important;
  }
  #logo1 {
    background-image: url("assets/asset/images/logos/centerbank_light.svg");
  }
  #logo2 {
    background-image: url("assets/asset/images/logos/shaparak_logo_light.svg");
  }
  #footer-text {
    color: #334048 !important;
  }
}
